.#{$picker-prefix} {
  // width: auto;
  position: absolute;
  width: 200px;
  // height: 285px;
  margin: 5px 0;
  padding: 2px 0;
  overflow: visible;
  max-height: none;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 1px 6px $shadow;
  z-index: $picker-index;
  &.single {
    position: relative;
    z-index: auto;
  }
  .#{$picker-prefix}-title {
    text-align: center;
    background-color: $bg;
    color: $primary;
    height: 28px;
    line-height: 28px;
    font-size: $font-small;
    font-weight: bold;
    margin-top: -2px;
    border-radius: 4px 4px 0 0;
  }
  .#{$picker-prefix}-fields {
    height: 38px;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid $border;
    padding: 10px 6px 6px;
    .field {
      display: inline-block;
      margin: 0 4px;
      span {
        text-align: center;
        display: inline-block;
        height: 20px;
        border: 1px solid #ccc;
        width: 20px;
        &.out {
          border: 1px solid $error;
          color: $error;
        }
        &.active {
          border: 1px solid $primary;
          color: $primary;
        }
        &.char4 {
          width: 40px;
        }
      }
    }
  }
  .#{$picker-prefix}-table {
    height: 180px;
    vertical-align: middle;
  }
  .#{$picker-prefix}-cell {
    display: inline-block;
    position: relative;
    span {
      width: 100%;
      text-align: center;
      display: inline-block;
    }
    em {
      width: 100%;
      text-align: center;
      font-style: normal;
      display: inline-block;
      cursor: pointer;
    }
  }
  .#{$picker-prefix}-confirm {
    border-top: 1px solid $border;
    text-align: right;
    padding: 8px;
    clear: both;
    height: 41px;
    // position: absolute;
    // bottom: 0;
    width: 100%;
    div {
      display: inline-block;
      padding: 2px 7px;
      font-size: $font-small;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }
    .confirm-cancel {
      color: $cancel;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
    }
    .confirm-ok {
      color: #fff;
      background-color: $primary;
      border-color: $primary;
      cursor: pointer;
      &.disable {
        color: shade(#fff, 13%);
        background-color: shade($primary, 13%);
        border-color: shade($primary, 13%);
        cursor: not-allowed;
      }
    }
  }
}

.year-picker,.month-picker {
  // width: 176px;
  height: 132px;
  text-align: center;
  .#{$picker-prefix}-table {
    margin: 10px;
  }
  .#{$picker-prefix}-cell {
    width: 40px;
    height: 28px;
    text-align: center;
    margin: 2px 6px;
    line-height: 24px;
    em {
      border-radius: 3px;
      &.select {
        background: $primary;
        color: #fff;
      }
      &.disable {
        color: $disable;
        background-color: $disable-bg;
        cursor: not-allowed;
        &.select:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $primary;
          position: absolute;
          top: 1px;
          right: 1px;
        }
      }
    }
  }
}

.year-picker {
  padding-top: 13px;
}
.month-picker {
  padding-top: 20px;
}

.date-picker {
  .#{$picker-prefix}-table {
    height: 168px;
  }
  .#{$picker-prefix}-cell {
    width: 28px;
    height: 28px;
    line-height: 26px;
    padding: 1px;
    span {
      color: $disable;
    }
    em {
      border-radius: 3px;
      &.select{
        background: $primary;
        color: #fff;
      }
      &.disable {
        color: $disable;
        background-color: $disable-bg;
        cursor: not-allowed;
        &.select:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $primary;
          position: absolute;
          top: 1px;
          right: 1px;
        }
      }
    }   
  }
}

.hour-picker {
  // width: 176px;
  // height: 132px;
  padding-top: 12px;
  .#{$picker-prefix}-table {
    margin: 10px;
  }
  .#{$picker-prefix}-cell {
    width: 30px;
    height: 28px;
    text-align: center;
    margin: 2px 5px;
    line-height: 24px;
    em {
      border-radius: 3px;
      &.select {
        background: $primary;
        color: #fff;
      }
      &.disable {
        color: $disable;
        background-color: $disable-bg;
        cursor: not-allowed;
        &.select:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $primary;
          position: absolute;
          top: 1px;
          right: 1px;
        }
      }
    }
  }
}
.minute-picker,.second-picker {
  // width: 176px;
  // height: 132px;
  .#{$picker-prefix}-table {
    margin: 10px;
  }
  .#{$picker-prefix}-cell {
    width: 20px;
    height: 18px;
    text-align: center;
    margin: 1px 4px;
    line-height: 18px;
    em {
      border-radius: 2px;
      &.select {
        background: $primary;
        color: #fff;
      }
      &.disable {
        color: $disable;
        background-color: $disable-bg;
        cursor: not-allowed;
        &.select:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $primary;
          position: absolute;
          top: 1px;
          right: 1px;
        }
      }
    }
  }
}