
$font-size      : 14px!default;
$text-color     : #000000!default;
// scroll
$scroll-prefix: lt-scroll-;
.#{$scroll-prefix}boxs {
  position: relative;
  .#{$scroll-prefix}pullup,.#{$scroll-prefix}down {
    text-align: center;
    line-height: 35px;
    color: shade($text-color, 50%);
    font-size: $font-size;
  }
  .#{$scroll-prefix}list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .#{$scroll-prefix}main {
      background-color: #f1fcff;
    }
    // .#{$scroll-prefix}pulldown,.#{$scroll-prefix}nodata,.#{$scroll-prefix}loading {
    //   display: none;
    // }
  }
}