$icon-list: (
  good: '\e800',
  bad: '\e801',
  reduce: '\e802',
  attach: '\e803',
  help-circled: '\e804',
  info-circled: '\e805',
  home: '\e806',
  add: '\e808',
  close: '\e809',
  ok-circled: '\e80a',
  ok: '\e80b',
  star-empty: '\e80c',
  star: '\e80d',
  heart-empty: '\e80e',
  heart: '\e80f',
  star-half: '\e810',
  warning-alt: '\e812',
  trash-empty: '\e813',
  setting: '\e814',
  down-dir: '\e815',
  up-dir: '\e816',
  left-dir: '\e817',
  right-dir: '\e818',
  th-list: '\e81a',
  download: '\e81b',
  upload: '\e81c',
  share1: '\e81d',
  edit: '\e81e',
  mail: '\e821',
  search: '\e822',
  bell: '\e823',
  loading2: '\e838',
  loading3: '\e839',
  menu: '\f0c9',
  sort: '\f0dc',
  sort-down: '\f0dd',
  sort-up: '\f0de',
  bell-alt: '\f0f3',
  angle-double-left: '\f100',
  angle-double-right: '\f101',
  angle-double-up: '\f102',
  angle-double-down: '\f103',
  angle-left: '\f104',
  angle-right: '\f105',
  angle-up: '\f106',
  angle-down: '\f107',
  loading1: '\f110',
  star-half-alt: '\f123',
  help: '\f128',
  info: '\f129',
  warning: '\f12a',
  more: '\f141',
  reduce-alt: '\f147',
  ok-alt: '\f164',
  bad-alt: '\f165',
  down: '\f175',
  up: '\f176',
  left: '\f177',
  right: '\f178',
  share2: '\f1e0',
  add-alt: '\f196',
  bell-off: '\f1f7',
  trash: '\f1f8'
)
